section#marketing{
    padding: 35px 0;
    .wrapper{
        background: #0D28A6;
        border-radius: 13px;
        padding: 64px;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            margin-bottom: 16px;
            @media (max-width: 767.98px) {
                font-size: 24px;
            }
        }
        p{
            width: 50%;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 52px;
            @media (max-width: 991.98px) {
                width: 60%;
            }
            @media (max-width: 767.98px) {
                width: 100%;
                margin-bottom: 45px;
            }
        }
    }
}