.btn-cta{
    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border: none;
    z-index: 1;
    position: relative;
}