<Card>
                                    <div className='image col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center'>
                                        <img src='https://cdn.discordapp.com/attachments/986612883859341333/997421101493780590/unknown.png' alt='testimonial' />
                                    </div>
                                    <div className='desc col-12 col-md-8 col-lg-8 d-flex justify-content-center'>
                                        <div className='rating'>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                        </div>
                                        <h3>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod&rdquo;</h3>
                                        <p>John Dee 32, Bromo</p>
                                    </div>
                                </Card>
                                <Card>
                                    <div className='image col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center'>
                                        <img src='https://cdn.discordapp.com/attachments/986612883859341333/997421148054753320/unknown.png' alt='testimonial' />
                                    </div>
                                    <div className='desc col-12 col-md-8 col-lg-8 d-flex justify-content-center'>
                                        <div className='rating'>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                        </div>
                                        <h3>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod&rdquo;</h3>
                                        <p>John Dee 32, Bromo</p>
                                    </div>
                                </Card>
                                <Card>
                                    <div className='image col-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center'>
                                        <img src='https://cdn.discordapp.com/attachments/986612883859341333/997421148054753320/unknown.png' alt='testimonial' />
                                    </div>
                                    <div className='desc col-12 col-md-8 col-lg-8 d-flex justify-content-center'>
                                        <div className='rating'>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                            <span className='fa fa-star checked'></span>
                                        </div>
                                        <h3>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod&rdquo;</h3>
                                        <p>John Dee 32, Bromo</p>
                                    </div>
                                </Card>