header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #F1F3FF;
    &[sidebar = true]{
        position: inherit;
        height: 100%;
        .wrapper{
            display: inline-flex !important;
            nav{
                display: block !important;
                position: absolute;
                z-index: 200;
                width: 50%;
                right: 0;
                height: 100vh;
                flex-direction: column;
                background-color: aqua;
            }
        }
    }
    .wrapper{
        height: 70px;
        .logo{
            width: 100px;
            height: 34px;
            background-color: #0D28A6;
        }
        nav{
            a{
                &:not(:last-child){
                    margin-right: 32px;
                }
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: black;
                cursor: pointer;
            }
        }
        .hamburger-menu{
            width: 22px;
            height: 18px;
            span{
                width: 22px;
                height: 2px;
                background-color: #222222;
            }
        }
    }
}