section#whyus{
    padding: 35px 0;
    .wrapper{
        .title{
            margin-bottom: 1.5rem;
            h2, p{
                color: black;
                font-weight: 700;
            }
            h2{
                font-size: 24px;
                line-height: 36px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }
        .wrapper-card{
            gap: 16px;

            @media (max-width: 991.98px) {
                gap: 18px;
            }
            @media (max-width: 767.98px) {
                gap: 18px;
            }
            .card{
                padding: 24px;
                border-color: #D0D0D0;
                h3, p{
                    color: black;
                    font-weight: 700;
                }
                h3{
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 16px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
                img{
                    height: 32px;
                    width: 32px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}