footer{
    padding-top: 80px;
    padding-bottom: 70px;
    .wrapper{
        .address{
            @media (max-width: 991.98px) {
                margin-bottom: 16px;
            }
            @media (max-width: 767.98px) {
                margin-bottom: 16px;
            }
            p{
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: black;
            }
        }
        .sitemap{
            @media (max-width: 991.98px) {
                margin-bottom: 16px;
            }
            @media (max-width: 767.98px) {
                margin-bottom: 16px;
            }
            div{
                a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: black;
                    @media (max-width: 991.98px) {
                        margin-bottom: 16px;
                    }
                    @media (max-width: 767.98px) {
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .social-media{
            @media (max-width: 991.98px) {
                margin-bottom: 16px;
            }
            @media (max-width: 767.98px) {
                margin-bottom: 20px;
            }
            .title{
                margin-bottom: 16px;
                h3{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: black;
                }
            }
            .wrapper-social-media{
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    background: #0D28A6;
                    color: white;
                    border-radius: 50%;
                    cursor: pointer;
                    
                    &:not(:last-child){
                        margin-right: 16px;
                    }
                }
            }
        }
        .copyright{
            .title{
                margin-bottom: 16px;
                h3{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: black;
                }
            }
            .logo-footer{
                width: 100px;
                height: 34px;
                background-color: #0D28A6;
            }
        }
    }
}